.cart-page {
  padding: 20px 0;
  background: #f4f4f4;
}

.cart-container {
  margin: 0 auto;
  width: 900px;
}

.cart-container h1 {
  font-size: 36px;
  line-height: 40px;
  font-family:  sans-serif;
  position: relative;
  margin: 0 0 40px;
  text-align: center;
}

.cart-content {
  background: #fff;
  border: 1px solid #eee9e3;
  padding: 25px 30px;
  margin-bottom: 30px;
}

.cart-list-header {
  display: flex;
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0 -30px 25px;
  padding: 0 30px 25px;
  border-bottom: 1px solid rgba(169, 144, 113, .2);
}

.cart-list-title {
  width: 385px;
}

.cart-list-price {
  width: 120px;
  text-align: center;
}

.cart-list-amount {
  width: 155px;
  text-align: center;
}

.cart-list-sum {
  width: 140px;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(169, 144, 113, .2);
  padding: 25px 0;
}

.cart-item:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}

.cart-item-img {
  border-radius: 3px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
}

.cart-item-title {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-family: sans-serif;
  width: 260px;
}

.cart-item-block {
  width: 50%;
  padding: 0 20px;
}

.card-item-control {
  margin-left: 60px;
  width: 95px;
  display: flex;
  align-items: center;
}

.cart-item-price {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-family: sans-serif;
  width: 90px;
  text-align: right;
  margin-left: 30px;
}

.card-item-control i:nth-child(1), .card-item-control i:nth-child(3) {
  width: 30px;
  cursor: pointer;
  color: darkolivegreen;
  font-size: 18px;
  text-align: center;
  opacity: 0.5;
}

.card-item-control i:nth-child(1):hover, .card-item-control i:nth-child(3):hover{
 opacity: 1;
}

.card-item-control span:nth-child(2) {
  color: #767676;
  font-size: 16px;
  background: 0 0;
  border: none;
  width: 35px;
  text-align: center;
  height: 20px;
}

.cart-item-sum {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-family: sans-serif;
  width: 100px;
  text-align: right;
  margin-left: 40px;
}

.cart-item-remove {
  width: 28px;
  display: block;
  margin-left: 40px;
  background-position: 0 -175px;
  opacity: .5;
}

.cart-item-remove i {
  width: 30px;
  cursor: pointer;
  color: #556b2f;
  font-size: 25px;
  text-align: center;
}
.cart-item-remove:hover{
  opacity: 1;
}

.card-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  padding-top: 25px;
  text-align: center;
}

.card-footer-container span{
  color: #767676;
  font-size: 14px;
  line-height: 1.2;
  font-family: sans-serif;
}
.cart-final-sum{
  color: #000;
  font-size: 16px;
  padding: 0 10px;
  font-family: sans-serif;
}

.cart-final-sum span {
  color: #8c9f3f;
  display: inline-block;
  margin-left: 15px;
  font-size: 24px;
  line-height: 30px;
}