@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  font-size: 22px;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.header{
  z-index: 10001;
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
}

.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 70px;
}

.logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 70px;
}

.logo:hover {
  background-color: black;
  color: white;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  line-height: 32px;
}

nav ul li {
  margin: 0;
  display: inline-block;
  float: left;
  background-color: #000;
  border-left: 1px solid white;
}

nav ul li ul li {
  margin: 0;
  background-color: white;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

nav ul li ul li a {
  padding: 14px 20px;
  color: #000000;
}


nav a {
  display: block;
  padding: 19px 25px;
  color: #FFF;
  font-size: 17px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: lightgray;
}

nav a:hover {
  background-color: #d3d3d3;
  color: #000;
  font-weight: 700;
  text-align: center;
}

nav ul li a:hover {
  background-color: black;
  color: white;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1000;
}


nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after {
  content: ' +';
}

li > a:only-child:after {
  content: '';
}

nav ul li:last-child{
  border-right: 1px solid white;
  margin-right: 30px;
}


/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 768px) {

  .logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
    height: 5px;
  }

  .logo:hover {
    text-align: center;
  }

  nav {
    margin: 0;
  }

  nav a {
    padding: 14px 20px;
  }

  nav ul li {
    border-left: none;
    border-top: 1px solid white;
  }

  .toggle + a,
  .menu {
    display: none;
    float: none;
  }

  .toggle {
    display: block;
    background-color: #000000;
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #000000;
  }

  [id^=drop]:checked + ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
  nav a:hover {
    text-align: left;
    background-color: white;
  }

  nav ul li a:hover {
    background-color: transparent;
    color: white;
    font-weight: normal;
  }
  nav ul li ul li a:hover {
    background-color: white;
    color: #000000;
  }

  nav ul li ul li:hover {
    background-color: white;
  }


  nav ul li ul li {
    border-left: none;
    border-right: none;
  }

  nav ul li ul li a {
    padding: 14px 20px 14px 60px;
    color: #000;
  }

  .header{
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;

  }

}

@media only screen and (max-width: 330px) {

  nav ul li {
    display: block;
    width: 100%;
  }

}