@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  font-size: 22px;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  z-index: 10001;
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
}

.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 55px;
}

.logo:hover {
  font-weight: bold;
}

.menu a:hover {
  font-weight: bold;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  line-height: 32px;
}

nav ul li {
  margin: 0;
  display: inline-block;
  float: left;
  background-color: #000;
}

nav ul li ul li {
  margin: 0;
  background-color: white;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

nav ul li ul li:hover {
  text-align: center;
  font-weight: bold;
}

nav ul li ul li a {
  padding: 14px 20px;
  color: #000000;
}

nav a {
  display: block;
  padding: 12px 15px;
  color: #FFF;
  font-size: 17px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 56px;
  z-index: 1000;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after {
  content: '';
}

li > a:only-child:after {
  content: '';
}

.header-cart {
  margin: 0 18px;
}

.header-cart a {
  display: block;
  padding: 0;
  width: 100%;
  float: none;
  height: 0;
  position: relative;
  top: 8px;
  font-size: 28px;
}

.header-cart-items {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background: #fc4e4e;
  color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  top: 0;
  right: 70px;
  padding: 1px;
  font-weight: bold;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.header-cart-price {
  font-size: 15px;
  float: right;
  line-height: 42px;
  margin: 0 auto;
  font-weight: bold;
  color: lightgrey;
  width: 67px;
  height: 40px;
  text-align: center;
  padding-left: 10px;
}

.triangle i {
  position: relative;
  top: -2px;
  right: -2px;
}

/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 768px) {

  .header-links {
    display: block;
  }

  .logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
    height: 0;
  }

  nav ul li ul li:hover {
    text-align: left;
    font-weight: normal;
  }

  .menu a:hover {
    font-weight: normal;
  }

  nav {
    margin: 0;
  }

  nav a {
    padding: 14px 20px;
  }

  nav ul li {
    border-left: none;
    border-top: 1px solid white;
  }

  .header-cart a {
    display: block;
    padding: 0;
    width: 100%;
    text-align: right;
    float: none;
    height: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
  }

  .header-cart a hover {
    color: white;
    text-align: right;
  }

  .toggle + a,
  .menu {
    display: none;
    float: none;
  }

  .toggle {
    display: block;
    background-color: #000000;
    padding: 11px 20px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #000000;
  }

  [id^=drop]:checked + ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }

  nav ul li ul li {
    border-left: none;
    border-right: none;
  }

  nav ul li ul li a {
    padding: 14px 20px 14px 60px;
    color: #000;
  }

  .header {
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
  }

}

@media only screen and (max-width: 550px) {

  .header-cart a {
    margin-right: 10px;
  }

  .header-cart-items {
    position: absolute;
    right: -7px;
  }

  .header-cart-price {
    display: none;
  }

}

@media only screen and (max-width: 330px) {

  nav ul li {
    display: block;
    width: 100%;
  }

}