.container-menu-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: left;
}

.sm-div {
  margin: 0 20px 0 20px;
}

.menu-title {
  font-size: 18px;
  padding-top: 15px;
  margin-bottom: 10px;
  color: black;
}

.link-menu-item {
  text-decoration: none;
}

.title-menu{
  margin-bottom: 20px;
}

.menu-item-bs-lunch{
  width: 300px;
  height: 400px;
  margin: 20px 30px;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, .3);
  border-radius: 8px;
  transition: .2s all;
}

.menu-item {
  width: 300px;
  height: 470px;
  margin: 20px 30px;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, .3);
  border-radius: 8px;
  transition: .2s all;
}

.menu-item:hover {
  transform: scale(1.03);

  .menu-title {
    color: #91b306;
  }
}

.menu-item-photo {
  width: 100%;
  height: 220px;
  object-fit: cover
}

.menu-item-lunch-photo {
  width: 100%;
  height: 200px;
  object-fit: cover
}

.menu-item-title {
  font-size: 18px;
  line-height: 24px;
}

.menu-item-weight {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.menu-item-ingredients {
  font-size: 14px;
  line-height: 18px;
  color: gray;
  height: 50px;
  overflow: hidden;
  font-family: inherit;
  margin-bottom: 0;
}

.menu-item-lunch {
  font-size: 16px;
  line-height: 18px;
  color: grey;
  overflow: hidden;
  font-family: inherit;
  margin-bottom: 5px;
  margin-top: 0;
  padding-left: 10px;
}

.menu-item-price {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

.menu-title:hover {
  color: #91b306;
}

.busness-lunch-header {
  margin-top: 70px;
  text-align: center;
}

.menu-item-btn {
  background: #fff;
  border: 1px solid #8c9f3f;
  color: #8c9f3f;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}


@media only screen and (max-width: 768px) {
  .container-menu-item {
    padding-bottom: 0;
  }

  .menu-item {
    transition: none;
  }
  .menu-item:hover {
    transform: scale(1.0);

    .menu-title {
      color: black;
    }
  }

  .menu-item {
    margin: 20px 10px;
    height: 470px;
  }

  .menu-item-photo {
    width: 100%;
    height: 220px;
    object-fit: cover
  }
}

